<%
=begin%>
  Form that will not reload the page on submit but be considered as an AJAX request.
  When reloaded, the view will use the robot id in the requet parameters.
  Each of the commands and input is disabled if no robot has been created.
  The coordinates input are preventing the user from entering an invalid coordinate.
<%
=end%>

<%= form_with scope: :robot, url: robots_place_path do |form| %>

    <% if @robot %>
        <%= hidden_field_tag("id", @robot.id, :id => "robot_id") %>
    <% end %>

    <div class="form-row justify-content-center">
        <div class="col-3">
        </div>

        <div class="col-2">
            <%= form.label :x, class:"form-label" %>
        </div>

        <div class="col-2">
            <%= form.label :y, class:"form-label" %>
        </div>

        <div class="col-5">
            <%= form.label :orientation, class:"form-label" %>
        </div>
    </div>

    <div class="form-row justify-content-center">
        <div class="text-center col-3">
            <%= form.submit "Place", :disabled => @robot.blank?, :class => "btn btn-light" %>
        </div>
        
        <div class="col-2">
            <%= number_field(:robot, :x, class:"form-control", in: 0.0..4.0, step: 1.0, :value => 0, :disabled => @robot.blank?) %>
        </div>

        <div class="col-2">
            <%= number_field(:robot, :y, class:"form-control", in: 0.0..4.0, step: 1.0, :value => 0, :disabled => @robot.blank?) %>
        </div>

        <div class="col-5">
            <%= select(:robot, :orientation, options_for_select([['North', 270], ['South', 90], ['East', 0], ['West', 180]]), {}, {:class => 'form-control', :disabled => @robot.blank?}) %>
        </div>
    </div>

<% end %>