

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Toy Robot Simulator</title>

    <%
=begin%>
  Load bootstrap to help developing the style of our application.
  Load font awesome to use a nice toy robot icon (spaceship).
<%
=end%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>

  <body>
    <header>
        <h1 class="text-center mt-2">Toy Robot Simulator</h1>
    </header>

    <div class="container-fluid">
        <div class="row my-5">
          <div class="col-4 d-flex center-content">
            <div class="robot-commands">
<%
=begin%>
  The commands are included in partial views to prevent reloading the page when submitting the commands.
  This way, the partial views can be reloaded without reloading the page.
<%
=end%>
              <div class="initial-commands">
                <h4 class="text-center my-3">
                  Initiate robot
                </h4>

                <div class="robot-create">
                  <%= render "make" %> 
                </div>

                <div class="robot-place">
                  <%= render "place" %>
                </div>
              </div>

              <div class="movement-commands mt-5">
                <h4 class="text-center my-3">
                  Move robot
                </h4>

                <div class="robot-movements">
                  <%= render "movements" %>
                </div>
              </div>
              
              <div class="robot-report">
                <%= render "report" %>
              </div>
            </div>
          </div>
          
<%
=begin%>
  Two FOR loop to create the table.
  As a possible amelioration, the number of cells per row and columns should be generic and used accross the code.
  Each cell contains its coordinates in a class to make the UI update easier on movement commands.
<%
=end%>
          <div class="col-4 table-board text-center">
            <% 5.times do |y| -%>
              <div class="table-row">
              <% 5.times do |x| -%>
                <div class="table-cell cell-<%= x %>-<%= 4 - y %>">

                  <div class="table-cell-content d-flex center-content">
                    <% if @robot && @robot.on_table && @robot.x == x && @robot.y == 4 - y%>
                      <i class="fas fa-space-shuttle fa-rotate-<%= @robot.orientation %>"></i>
                    <% end %>
                  </div>

              </div>
              <% end -%>
              </div>
            <% end -%>
          </div>
          
<%
=begin%>
  The scrolling log is first empty and will be updated using the 'report' script.
<%
=end%>
          <div class="col-4 d-flex center-content">
            <h4 class="robot-log-title mb-3">
              Output
            </h4>
            
            <div class="robot-log p-2 text-uppercase rounded">
            </div>
          </div>
        </div>
    </div>

<%
=begin%>
  Loading Jquery and the bootstrap javascript functions.
<%
=end%>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>

  <footer class="py-2">
    <div class="d-flex justify-content-around">
      <span class="text-uppercase"> 
        Content created by 
        <a class="invisible-link" href="https://www.linkedin.com/in/marceau-fillon/" target="_blank"> 
          <i class="fab fa-linkedin-in"></i>Marceau Fillon
        </a>
      </span>
    </div>
  </footer>

</html>